:root {
    --color-grey-superlight: rgb(248, 248, 248);
    --color-grey-xxlight: rgb(230, 230, 230);
    --color-grey-xlight: rgb(220, 220, 220);
    --color-grey-light: rgb(200, 200, 200);
    --color-grey-dark: rgb(140, 140, 140);
    --color-grey-xdark: rgb(80, 80, 80);
}